# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017
DB_NAME=preparo_db

# JWT Secret for authentication
JWT_SECRET=AIzaSyCgPEJyAFyii9Z9z-X_7EzFvDdA6eVoUX0

# Google AI API Key
GOOGLE_API_KEY=AIzaSyC3OBr72Tkh4S8S8TJAsZq2IswReBWd9JE

# This is the base URL of your deployed application
# It's used by the API for various purposes.
# For local development, it's usually http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY="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"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_live_51P5cpVJO6sGcYqdSSQaVHz8gjqmE2VxSUF9am5JvfTsmp6hjoEMXFMPmNRcH5lalCOgDgTvUmlihQx8CBrSUwmE200uGyNzrVx"
STRIPE_WEBHOOK_SECRET="whsec_7b460d95d041ab130546426bc63cd5e25b0f0d10236b8d86c904487fc019c90e "
STRIPE_PRO_PLAN_PRICE_ID="price_1P6A8hJO6sGcYqdSrJoysttB"